[Desktop Entry]
Name=QO100 transceiver
Comment=Start the Pluto QO100 Transceiver
Icon=/home/pi/QO100_Transceiver/ai.ico
Exec=lxterminal -e /home/pi/QO100_Transceiver/scripts/startTRX
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
